openai
neo4j
fastapi
PyPDF2
torch==2.0.1
pydantic
uvicorn
boto3
# missing from the langchain base image?
langchain 
langchain-community 
langchain-openai 
langchain-experimental
asyncpg
lru-dict
pypdf
chromadb